{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" /> 

<h1>{{ question.question_text }}</h1>
 
{% if error_messsage %}
 
 
<strong>{{ error_messsage }}</strong>
 
{% endif %}
 
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}: {{ choice.votes }}</label>
        <br>
    {% endfor %}
    <input type="submit" value="Vote" />
</form>